### Composer ###
composer.phar
composer.lock
/vendor/

### Laravel ###
/bootstrap/compiled.php
Homestead.yaml
Homestead.json
.env.local.php
.env.php
.env
/public/storage
/public/hot
/storage/*.key

### Linux ###
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

### Node ###
logs
*.log
npm-debug.log*
pids
*.pid
*.seed
*.pid.lock
lib-cov
coverage
.nyc_output
.grunt
bower_components
.lock-wscript
build/Release
node_modules
jspm_packages
.npm
.eslintcache
.node_repl_history
*.tgz
.yarn-integrity

### PhpStorm ###
.idea/workspace.xml
.idea/tasks.xml
.idea/blade.xml
.idea/deployment.xml
.idea/dataSources/
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml
.idea/gradle.xml
.idea/libraries
.idea/mongoSettings.xml
*.iws
/out/
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
*.iml
modules.xml
.idea/misc.xml
*.ipr